@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                I have decided to build my own blog based on ASP.NET MVC, Twitters Boostrap and RavenDB.
                My plan is to use this site to experiment with new technology and libraries that
                I find on my way... So this site will work in progress for a long time.
            </p>
            <p>
                Stay tuned and see how it evolves...
            </p>
        </div>
    </section>
}
<h3>The techologies that I plan to use:</h3>
<ol class="round">
    <li class="one">
        <h5>ASP.NET MVC</h5>
        I have used spent most of my professional life working with the Microsoft stack.
        But there are always some new areas to explore...
    </li>

    <li class="two">
        <h5>Twitters Boostrap</h5>
        Smart/pretty designs is not what I am best at, by using Boostrap I hope I can
        make a fairly decent looking site.
    </li>

    <li class="three">
        <h5>RavenDB</h5>
        RavenDB makes it possible to store my domain objects directly into the database.
        This will save me from writing a lot of boring code for a mapping layer.
    </li>
</ol>
